@font-face {
  font-family: GolosText;
  font-display: swap;
  src: url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Бургер меню */

.menu-icon {
  width: 40px;
  height: 30px;
  position: relative;
}

.menu-icon::after,
.menu-icon::before {
  content: "";
  position: absolute;
  left: 0;
}

.menu-icon::before {
  top: 0;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s;
  transition: transform 0.3s, top 0.3s 0.3s, -webkit-transform 0.3s;
}

.menu-icon::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.3s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s, bottom 0.3s 0.3s;
  transition: transform 0.3s, bottom 0.3s 0.3s, -webkit-transform 0.3s;
}

.menu-icon__line,
.menu-icon::after,
.menu-icon::before {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FF25C2;
}

.menu-icon--active .menu-icon__line {
  display: none;
}

.menu-icon--active::before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  top: 50%;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.menu-icon--active::after {
  -webkit-transform: translateY(50%) rotate(-45deg);
      -ms-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
  bottom: 50%;
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  -o-transition: bottom 0.3s, transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.menu-icon {
  display: none;
}

.swiper {
  max-width: 600px;
  height: 300px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg,
video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  background: #000000;
}

.container {
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 0 15px;
}

.stop-scroll {
  overflow: hidden;
}

/* Контейнер для контента который выходит за рамки стандартного контейнера*/

/* .conteiner-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
} */

.header {
  padding: 44px 0 60px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px 43px;
}

.menu__link {
  font-size: 1.125rem;
  line-height: 1.22;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.menu__link:hover {
  color: #FF25C2;
}

.menu__link:active {
  color: #db009e;
}

.welcom {
  height: 67.875em;
  margin-bottom: 70px;
  text-align: center;
}

.welcom__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcom__title {
  font-weight: 700;
  font-size: 9.375rem;
  line-height: 0.88;
  letter-spacing: -0.07em;
  color: #FF25C2;
}

.welcom__description {
  display: inline-block;
  padding-top: 30px;
  max-width: 430px;
  font-size: 1.5625rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.welcom__img {
  position: absolute;
  top: 235px;
  left: auto;
  right: auto;
  z-index: -1;
}

.no-webp .card__background--white{
  background-image: url("../img/white.jpg"); }

.card__background--white {
  background-repeat: no-repeat;
  background-position: center;
}

.no-webp .card__background--black{
  background-image: url("../img/black.jpg"); }

.card__background--black {
  margin: 80px 0 150px 0;
  border: 1px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.card__inner {
  height: 644px;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 50px 50px 51px 50px;
}

.card__img {
  margin: 149px 0 30px 0;
}

.title {
  max-width: 375px;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 93.52%;
  letter-spacing: -0.05em;
}

.btn-buy {
  display: block;
  height: 110px;
  text-align: center;
  padding-top: 40px;
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  font-size: 1.5625rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.btn-buy:hover {
  background-color: #FFFFFF;
  border: 1px solid #FF25C2;
  color: #FF25C2;
}

.btn-buy:active {
  background-color: #dfdfdf;
  border: 1px solid #db009e;
  color: #db009e;
}

.btn-buy--small {
  max-width: 420px;
}

.btn-buy--big {
  max-width: 866px;
  margin-left: auto;
  margin-right: auto;
}

.no-webp .preview-top{
  background-image: url("../img/preview.jpg"); }

.preview-top {
  width: 100%;
  height: 786px;
  padding: 190px 0;
  background-size: cover;
  background-position: center;
}

.preview-top__title {
  max-width: 560px;
}

.preview-top__description {
  max-width: 671px;
  padding-top: 39px;
}

.preview {
  text-align: center;
}

.preview__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview__title {
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 73.52%;
  letter-spacing: -0.06em;
  color: #FF25C2;
}

.preview__description {
  font-size: 1.5625rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.preview-bottom {
  margin: 150px 0;
}

.preview-bottom__box {
  padding-top: 80px;
}

.preview-bottom__title {
  max-width: 676px;
}

.preview-bottom__description {
  padding-top: 20px;
  max-width: 507px;
}

.no-webp .technology{
  background-image: url("../img/technology.jpg"); }

.technology {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1040px;
  padding: 130px 0;
}

.technology__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.technology__title {
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 73.52%;
  letter-spacing: -0.06em;
}

.technology__description {
  padding: 40px 0 60px 0;
  max-width: 942px;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 90%;
  letter-spacing: -0.06em;
}

.setting {
  margin-top: 150px;
}

.no-webp .setting__box{
  background-image: url("../img/setting.jpg"); }

.setting__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
}

.setting__text {
  padding-top: 340px;
  max-width: 475px;
  font-size: 1.5625rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.social {
  margin: 60px 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social__link {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 73.52%;
  letter-spacing: -0.06em;
}

.footer {
  padding: 140px 0 52px 0;
}

.footer__inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px 0;
}

.footer__logo {
  font-weight: 700;
  font-size: 2.1875rem;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #FF25C2;
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
    right: 0;
    top: 7px;
    z-index: 3;
  }

  .menu {
    display: none;
    padding-top: 50px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu {
    display: block;
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;
    padding: 100px 30px 30px 30px;
    width: 100%;
    background-color: #0b76ef;
    z-index: 2;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .menu--visible {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .menu__link {
    font-size: 1.5625rem;
  }
}

@media (max-width: 73.75em) {
  .welcom {
    height: calc(600px + 486 * (100vw - 320px) / 860);
  }

  .technology__title {
    font-size: calc(50px + 50 * (100vw - 320px) / 860);
  }

  .technology__description {
    font-size: calc(20px + 25 * (100vw - 320px) / 860);
  }
}

@media (max-width: 67.31em) {
  .welcom__img {
    top: calc(130px + 105 * (100vw - 320px) / 860);
  }
}

@media (max-width: 56.25em) {
  .preview__title {
    font-size: calc(50px + 50 * (100vw - 320px) / 860);
  }
}

@media (max-width: 48.5em) {
  .welcom__title {
    font-size: calc(80px + 70 * (100vw - 320px) / 860);
  }
}

@media (max-width: 46.56em) {
  .social__link {
    font-size: calc(20px + 40 * (100vw - 320px) / 860);
  }
}

@media (max-width: 37.8em) {
  .preview__description {
    font-size: calc(15px + 10 * (100vw - 320px) / 860);
  }
}

@media (max-width: 34.68em) {
  .welcom__description {
    font-size: calc(15px + 10 * (100vw - 320px) / 860);
  }
}

@media (max-width: 31.25em) {
  .welcom__title {
    font-size: 4.375rem;
  }
}

@media (max-width: 23.56em) {
  .welcom__title {
    font-size: 3.125rem;
  }
}

.webp .card__background--white{ background-image: url(../img/white.webp); }

.webp .card__background--black{ background-image: url(../img/black.webp); }

.webp .preview-top{ background-image: url(../img/preview.webp); }

.webp .technology{ background-image: url(../img/technology.webp); }

.webp .setting__box{ background-image: url(../img/setting.webp); }